@media (min-width: 45rem) { .main { position: relative; max-width: 50rem; margin-left: 15.5rem; } }
@media (min-width: 66.5rem) { .main { margin-left: Max(16.5rem, calc((100% - 66.5rem) / 2 + 16.5rem)); } }
